body{
    font-family: outfit;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    background-color: hsl(0, 0%, 100%);
    padding: 10px;
    border-radius: 15px;
}
.img img{
    border-radius: 15px;
    width: 310px;
    height: 310px;
}
h2, p{
    text-align: center;
    margin: auto;
}
h2{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    width: 280px;
    margin-bottom: 15px;
    margin-top: 15px;
}
p{
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    font-weight: 400;
    width: 250px;
    margin-bottom: 25px;
}